.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-bottom: 20px;
  margin: 20px;
  /* z-index: 1; */
  transition: 0.5s ease-in-out;
  background-color: #00050d;
  border-radius: 10px 10px 0 0;
}
.card:hover {
  transform: scale(1.05);
  z-index: 11;
  padding-bottom: 20px;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 4px 6px rgba(255, 255, 255, 0.3);
}

.image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.modalSynopsis {
  box-shadow: 0px 6px 4px 0px rgba(255, 255, 255, 0.3),
  0px 6px 4px 6px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 100%;
  z-index: 10;
  background-color: #191e25;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

@keyframes slideIn {
  0% {
    top: 40%;
    z-index: -10;
  }
  100% {
    top: 100%;
    z-index: -5;
  }
}
.textContainer {
  display: flex;
  flex-direction: column;
  background-color: #00050d;
}
.textContainer h4 {
  min-height: 40px;
}
.description {
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
.btn {
  margin: 5px;
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  clip-path: circle();
  background-color: #191e25;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: #191e25;
}
